* {
   margin: 0;
   padding: 0;
   background-color: #000000;
}

.one {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.content {
   margin: 0px 40px 0px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: #fff;
   text-transform: uppercase;
   border-radius: 25px;
   cursor: pointer;
}

.b1 {
   height: 200px;
   width: 200px;
   float: left;
   background-color: brown;
   transition: 0.6s;
   animation-name: hidebox1;
   animation-duration: .8s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   z-index: 1;
   
}

.b1:hover {
   background-color: #8338ec;
   transition: 2s;
   transform: rotateY(180deg);

}

.b2 {
   height: 200px;
   width: 200px;
   float: right;
   clear: left;
   background-color: rgb(34, 213, 18);
   z-index: 2;
}

.b2:hover {
   background-color: #209e7c;
}

.b3 {
   height: 200px;
   width: 200px;
   float: right;
   clear: left;
   background-color: rgb(222, 195, 25);
   transition: 0.6s;
   animation-name: movebox3;
   animation-duration: .8s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   z-index: 3;
}

.b3:hover {
   background-color: #06d6a0;
}

.b4 {
   height: 200px;
   width: 200px;
   float: right;
   clear: left;
   background-color: rgb(13, 50, 216);
   transition: 0.6s;
   animation-name: movebox4;
   animation-duration: .8s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in;
   z-index: 4;
}

.b4:hover {
   background-color: #fb6f92;
}

@keyframes hidebox1{
   0%{
      transform: translate(200px);
   }
   100%{
      transform: translate(0px);
   }
}
@keyframes movebox3{
   0%{
      transform: translate(-200px);
   }
   100%{
      transform: translate(0px);
   }
}
@keyframes movebox4{
   0%{
      transform: translate(-400px);
   }
   100%{
      transform: translate(0px);
   }
}